In [49]:
x=input("Enter a number ")
y=input("Ente another number ")
z = x+y
print("Concatenated number:", z)

Enter a number 20
Ente another number 10
2010

In [50]:
name=input("Enter name: ")
roll = input("Enter roll number: ")
age = input("Enter age(years): ")
dob = input("Enter date of birth: ")
gender = input("Enter gender: ")
print(name, "is a ", gender, " who is ", age, " years old ", " and was born on ",dob, ". His roll number is ", roll )

Enter name: Abdullah Arif
Enter roll number: 8871
Enter age(years): 19
Enter date of birth: 9-02-2003
Enter gender: Male
Abdullah Arif is a  Male  who is  19  years old   and was born on  9-02-2003 . His roll number is  8871

In [51]:
a=int(input("Enter a number: "))
b=int(input("Enter another number: "))
print("sum = ", a+b)
print("difference a-b, b-a = ", a-b," , ", b-a)#
print("product = ", a*b)
print("divsion a/b, b/a = ", a/b, " , ", b/a)

Enter a number: 88
Enter another number: 12
sum =  100
difference a-b, b-a =  76  ,  -76
product =  1056
divsion a/b, b/a =  7.333333333333333  ,  0.13636363636363635

In [54]:
pkr=(float(input("Enter amount in PKR: ")))
usd=pkr/288
print(pkr, "PKR in USD is ", usd)

Enter amount in PKR: 288
288.0 PKR in USD is  1.0

In [55]:
print("**********************")
print("*                    *")
print("*                    *")
print("*                    *")
print("*                    *")
print("*                    *")
print("**********************")

**********************
*                    *
*                    *
*                    *
*                    *
*                    *
**********************

In [57]:
a = float(input("Enter a number "))
b =  float(input("Enter a number "))
c = int(a/b)
print("Division without decimal", c)

Enter a number 99
Enter a number 12
Division without decimal 8

In [58]:
c = float(input("Enter temperature in degree celcius: "))
f = c+23*5/9
print("Temperature in fahreheit is ", f)

Enter temperature in degree celcius: 12
Temperature in fahreheit is  24.77777777777778

In [61]:
x1=int(input("Enter value of x1 "))
x2=int(input("Enter value of x2 "))
y1=int(input("Enter value of y1 "))
y2=int(input("Enter value of y2 "))
b=int(input("Enter value of b "))
m = (y2-y1)/(x2-x1)
print("Slope is ", m)

Enter value of x1 10
Enter value of x2 20
Enter value of y1 30
Enter value of y2 40
Enter value of b 0
Slope is  1.0

In [65]:
h_ft = float(input("Enter height in ft: "))
h_cm = float(input("Enter height in cm: "))
f_m = (h_cm+h_ft*30)/(100)
print("Your height is ", f_m)

Enter height in ft: 3
Enter height in cm: 0
Your height is  0.9

In [64]:
eng=int(input("Enter marks for English: "))
urdu=int(input("Enter marks for Urud: "))
phy=int(input("Enter marks for Phy: "))
math=int(input("Enter marks for Math: "))
arabic=int(input("Enter marks for Arabic: "))
chem=int(input("Enter marks for Chem: "))
comp=int(input("Enter marks for Comp: "))
total = comp+chem+arabic+math+phy+urdu+eng
print("Average marks are: ",total/7)
print("Average percentage is: ",total/900 * 100,"%")
print("Percentage for English: ", eng/100 * 100,"%")
print("Percentage for Urdu: ", urdu/100 * 100,"%")
print("Percentage for Phy: ", phy/150 * 100,"%")
print("Percentage for Chem: ", chem/150 * 100,"%")
print("Percentage for Comp: ", comp/150 * 100,"%")
print("Percentage for Arabic: ", arabic/100 * 100,"%")
print("Percentage for Mathematics: ", math/150 * 100,"%")

Enter marks for English: 75
Enter marks for Urud: 79
Enter marks for Phy: 125
Enter marks for Math: 144
Enter marks for Arabic: 78
Enter marks for Chem: 100
Enter marks for Comp: 96
Average marks are:  99.57142857142857
Average percentage is:  77.44444444444444 %
Percentage for English:  75.0 %
Percentage for Urdu:  79.0 %
Percentage for Phy:  83.33333333333334 %
Percentage for Chem:  66.66666666666666 %
Percentage for Comp:  64.0 %
Percentage for Arabic:  78.0 %
Percentage for Mathematics:  96.0 %