In [1]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(4,4),columns=list("abcd"))

In [2]:
df

          a         b         c         d
0 -0.846503  1.088947 -0.680943  0.024360
1 -1.475448 -2.361062  0.205429  0.192957
2  1.188370 -0.574972  0.023780 -0.038660
3  0.855939 -1.024080  0.546006  0.508251

In [3]:
df.max(axis=0)

a    1.188370
b    1.088947
c    0.546006
d    0.508251
dtype: float64

In [4]:
df.loc[2].max()
df["a"].max()

1.1883698367178934

In [5]:
#SORTING AND RANKING
df=pd.DataFrame(np.arange(8).reshape(4,2),columns=["A","b"],index=[4,2,6,8])
df

   A  b
4  0  1
2  2  3
6  4  5
8  6  7

In [6]:
df=df.sort_index(ascending=False)
df

   A  b
8  6  7
6  4  5
4  0  1
2  2  3

In [7]:
df=df.sort_values(by="A",ascending=True)
df

   A  b
4  0  1
2  2  3
6  4  5
8  6  7

In [8]:
a=df.sum()
a

A    12
b    16
dtype: int64

In [9]:
a=df['b'].sum()
a

16

In [10]:
a=df['b'].mean()
a

4.0

In [11]:
#Arthmetic in pandas and data allignment

In [18]:
df1=pd.DataFrame(np.random.randn(4,4),columns=list("abcd"),index=list("abcd"))

In [19]:
df2=pd.DataFrame(np.random.randn(5,5),columns=list("abcde"),index=list("abcde"))

In [20]:
df3=df1+df2
df3

          a         b         c         d   e
a  2.498998  0.672605  0.731218  0.758336 NaN
b -1.445090 -1.311151  0.304206 -1.165122 NaN
c  0.380484 -3.221207  1.461945 -0.007211 NaN
d  1.454922  3.456817  0.613967 -1.479312 NaN
e       NaN       NaN       NaN       NaN NaN

In [21]:
df4=df1.add(df2,fill_value=0)
df4

          a         b         c         d         e
a  2.498998  0.672605  0.731218  0.758336 -1.231320
b -1.445090 -1.311151  0.304206 -1.165122 -0.217766
c  0.380484 -3.221207  1.461945 -0.007211 -0.543569
d  1.454922  3.456817  0.613967 -1.479312  1.068562
e  0.742259 -1.006891 -0.352284  0.327881 -0.953481

In [58]:
#Arthmetics between frame and series

In [22]:
#deleting
df4=df4.drop("a")
df4

          a         b         c         d         e
b -1.445090 -1.311151  0.304206 -1.165122 -0.217766
c  0.380484 -3.221207  1.461945 -0.007211 -0.543569
d  1.454922  3.456817  0.613967 -1.479312  1.068562
e  0.742259 -1.006891 -0.352284  0.327881 -0.953481